.button{
    color: #090909;
    padding: 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    background: radial-gradient(circle at 120.71% 50%, #e9ffff 0, #c8ffff 25%, #9df2f2 50%, #6fd9df 75%, #41c5d3 100%);
}

.button:hover {
  cursor: pointer;
  color: white;
  background: black;
}

input {
  border-radius: 10%;
  margin: 10px 10px 10px 10px;
  height: 35px;
}